<!DOCTYPE html>
<html ng-app="aoc">

  <head>
    <meta charset="utf-8" />
    <title>Alors On Connait Ou Pas ?</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link href="style.css" rel="stylesheet" />
    <script data-semver="1.4.9" src="https://code.angularjs.org/1.4.9/angular.js" data-require="angular.js@1.4.x"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="directives.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    
      <div class="entete">
        <h1>{{ title }}</h1>
        <p class="button" ng-click="connexion">{{ connexion }}</p>
      </div>
      <div id="accueil" ng-show="affichageaccueil == 1">
      <div class="accueil">
        <p class="button" ng-click="lancerJeu()">{{ jouer }}</p>
        <p class="button" ng-click="lancerScore()">{{ score }}</p>
      </div>
      <div class="regle">
        <em>{{ regle }}</em>
      </div>
    </div>
    <div  ng-show="jeuencours == 1">
      <jeu prod="aocs[random()]"></jeu>
    </div>
    <div  ng-show="scoreencours == 1">
      <h1> Tableau de score</h1>
      {{ score[0] }}
    </div>
  </body>

</html>

<script>
  var init = function() {
    console.log("init called");
    window.init();
  };
</script>

<script src="https://apis.google.com/js/client.js?onload=init"></script>
